{% load static %}
{% block body %}
<html>
<head>
{% include 'header.html' %}

</head>
<body>
{% include 'navigation.html' %}
<style>
a {
  color:  #EE1D29;
}
a:hover {
  color: yellow;
}

.contactlink:hover {
  color: blue;
}
</style>
<div class="container text-center" style = "margin-top:50px" id="contact">
       <h1 class="text-center font-weight-bold" style="font-family : Monotype Corsiva;color : #EE1D29">Contact Us</h1>
	 <br><br><br>
      <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 mydivstyle" style="margin-left: 50px; margin-top: -100px;">
		  <h4><i class="fas fa-phone-square"></i> Contact</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="tel:+91 9413961973">+91 9413961973</a></p>
          </div>
          <img src="{% static 'images/IIIM college.jpg' %}" style="margin-left: 200px; margin-top: -50px;" width="40%" height="270">
        <br>
          <div class="col-lg-3 col-sm-6 mydivstyle"style="margin-left: 67px; margin-top: -230px;">
		  <h4><i class="fas fa-envelope"></i> Send Email</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="mailto:sainmahendra171@gmail.com" style="margin-left: 55px;">sainmahendra171@gmail.com</a></p>
          </div>
          <br> <br>
		  <div class="col-lg-3 col-sm-6 mydivstyle"style="margin-left: -260px; margin-top: -135px;" >
		  <h4><i class="fas fa-address-card"></i> Home Address</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="http://maps.google.com/maps?q=Rajasthan+Nagaur" >Rajasthan Nagaur 341022</a></p>
          </div>
		  <div class="col-lg-3 col-sm-6 mydivstyle"style="margin-left: -275px; margin-top: -30px;">
		  <h4><i class="far fa-clock"> </i> Work Experience</h4>
              <p class = "mt-3 text-danger font-weight-bold" style="margin-left: -70px;">1 year Experience</p>
          </div>
         
      </div>
  </div>
  </body>
  </html>
{% endblock %}